doctype html
html
  head
    title= title
    script(src='/socket.io/socket.io.js')
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/underscore/underscore.js')
    script(src='/vendor/underscore/underscore.js')
    script(src='/vendor/backbone/backbone.js')
    script(src='/vendor/backbone.iobind/dist/backbone.iosync.js')
    script(src='/vendor/backbone.iobind/dist/backbone.iobind.js')
    script(src='/templates.js')
    script(src='/js/example.js')
          link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
  body
    .page-wrap
      nav
        block nav
      header
        block header
      section#content
        block content
      footer
        block footer
          .branding I am A Logical Paradox
