extends layout

block append body

  #wrapper
    #sidebar-wrapper
      #feed

    #page-content-wrapper
      #renderer-anchor

block append js

  //
    dependencies
  script(src='/socket.io/socket.io.js')
  script(src='/vendor/jquery/dist/jquery.min.js')
  script(src='/vendor/underscore/underscore.js')
  script(src='/vendor/backbone/backbone.js')
  script(src='/vendor/marionette/lib/backbone.marionette.min.js')
  script(src='/vendor/backbone.iobind/dist/backbone.iosync.min.js')
  script(src='/vendor/backbone.iobind/dist/backbone.iobind.min.js')
  script(src='/vendor/threejs/build/three.min.js')
  script(src='http://threejs.org/examples/js/controls/TransformControls.js')

  //
    the app
  script(src='/js/app.js')
  script(src='/js/models/RealtimeModel.js')
  script(src='/js/models/User.js')
  script(src='/js/models/Feed.js')
  script(src='/js/models/Drawables.js')
  script(src='/js/views/Feed.js')
  script(src='/js/views/ThreeJSRenderer.js')
  script(src='/js/Router.js')
  if env == 'development'
    script(src='/js/debug.js')
  script(src='/js/main.js')
  
  script(type='text/javascript')
    if env == 'development'
      | document.write('<script src="http://'
      | + (location.host || 'localhost').split(':')[0]
      | + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')

block append body

  script#feed-template(type='text/html')
    input#chat-input.form-control.input-sm(type='text', placeholder='Type your message here...')
    pre.feed

  script#feed-item-template(type='text/html')
    | <% if (mode == 'tx') { %>
    strong(style='color: green; display: inline;')
      | << 
    strong
      | <%= message + '\n' %>
    | <% } else { %>
    strong(style='color: red; display: inline;')
      | >> 
    strong
      | <%= message + '\n' %>
    | <% } %>

  script#renderer-template(type='text/html')
    nav.navbar.navbar-default
      .container-fluid
        ul.nav.navbar-nav
          li
            a#feed-toggle(href='javascript:void(0)') Toggle Feed
          li
            a#translate-mode(href='javascript:void(0)')
              span.glyphicon.glyphicon-move
              |  Move
          li
            a#rotate-mode(href='javascript:void(0)')
              span.glyphicon.glyphicon-refresh
              |  Rotate
          li
            a#scale-mode(href='javascript:void(0)')
              span.glyphicon.glyphicon-resize-full
              |  Scale
          li
            a#add-box(href='javascript:void(0)')
              span.glyphicon.glyphicon-plus
              |  Add box
    #canvas-anchor
