extends base

block body
  //
    block nav
      .landing
        a.brand(href='/') Xaphoon
        .tagline-bar Backbone + THREE.js experiment by 
          a(href="http://stonelinks.github.io/", target="_blank") Lucas Doyle
