extends layout

block append body
  #wrapper
    #sidebar-wrapper
      #feed-anchor
    #page-content-wrapper
      #renderer-anchor

block append js

  //
    dependencies
    
  //
    backbone
  script(src='/vendor/jquery/dist/jquery.min.js')
  script(src='/vendor/underscore/underscore.js')
  script(src='/vendor/backbone/backbone.js')

  //
    realtime things
  script(src='/socket.io/socket.io.js')
  script(src='/socket.io/backbone.io.js')
  
  //
    marionette
  script(src='/vendor/marionette/lib/backbone.marionette.min.js')
  
  //
    misc
  script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
  script(src='/vendor/zip/WebContent/zip.js')
  script(src='/vendor/zip/WebContent/zip-ext.js')
  
  //
    threejs
  script(src='/vendor/threejs/build/three.js')
  script(src='/js/controls/TransformControls.js')
  script(src='/js/controls/OrbitControls.js')
  script(src='/js/loaders/ColladaLoader.js')

  //
    the app
  script(src='/js/app.js')

  //
    models
  script(src='/js/models/BaseRealtimeModel.js')
  script(src='/js/models/FeedItem.js')
  script(src='/js/models/Drawable.js')
  script(src='/js/models/TransformControl.js')
  script(src='/js/models/OrbitControl.js')

  //
    collections
  script(src='/js/collections/BaseRealtimeCollection.js')
  script(src='/js/collections/Feed.js')
  script(src='/js/collections/Drawables.js')
  
  //
    views
  script(src='/js/views/BaseRealtimeView.js')
  script(src='/js/views/FeedView.js')
  script(src='/js/views/ThreeJSRenderer.js')
  
  //
    start the app
  script(src='/js/Router.js')
  script(src='/js/main.js')

  script(type='text/javascript')
    | if (location.host !== 'xaphoon.herokuapp.com') {
    |   document.write('<script src="http://'
    |   + (location.host || 'localhost').split(':')[0]
    |   + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')
    | }

block append body

  script#feed-template(type='text/html')
    form#feed-input(onsubmit='return false;')
      input.form-control.input-sm(type='text', placeholder='Type your message here...', autofocus='autofocus')
    pre.feed

  script#feed-item-template(type='text/html')
    | <strong style='color: <%= color %>; display: inline;'>>> </strong><strong><%= message + '\n' %><strong>

  script#renderer-template(type='text/html')
    nav.navbar.navbar-default
      .container-fluid
        ul.nav.navbar-nav
          li
            a#feed-toggle(href='javascript:void(0)') Toggle Feed
          li
            a#translate-mode(href='javascript:void(0)')
              span.glyphicon.glyphicon-move
              |  Move
          li
            a#rotate-mode(href='javascript:void(0)')
              span.glyphicon.glyphicon-refresh
              |  Rotate
          li
            a#scale-mode(href='javascript:void(0)')
              span.glyphicon.glyphicon-resize-full
              |  Scale
          li
            a#toggle-space(href='javascript:void(0)')
              | <span class="glyphicon glyphicon-<%= transformControlSpace == 'Local' ? 'adjust' : 'globe' %>"></span>
              |  <%= capitalise(transformControlSpace) %> space
          li
            a#add-box(href='javascript:void(0)')
              span.glyphicon.glyphicon-plus
              |  Add box
          li
            a#add-torus(href='javascript:void(0)')
              span.glyphicon.glyphicon-record
              |  Add torus
          li
            a#add-monster(href='javascript:void(0)')
              span.glyphicon.glyphicon-tower
              |  Add monster
          li.dropdown
            a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown')
                span.caret
                |  Add robot
              ul.dropdown-menu
                each robot in ['barrett-hand.zae', 'barrett-wam4.zae', 'barrett-wamhand.zae', 'barrett-wam.zae', 'care-o-bot3.zae', 'cmu-permma.zae', 'crustcrawler-ax12.zae', 'darpa-arm.zae', 'exactdynamics-manusarmleft.zae', 'kawada-hironx.zae', 'kuka-kr150.zae', 'kuka-kr210l180.zae', 'kuka-kr30l16.zae', 'kuka-kr360.zae', 'kuka-kr3-cr.zae', 'kuka-kr5-r650.zae', 'kuka-kr5-r850.zae', 'kuka-youbot-hires.zae', 'kuka-youbot.zae', 'mitsubishi-pa10.zae', 'neuronics-katana.zae', 'romela-darwin-op.zae', 'schunk-lwa3.zae', 'schunk-sdh.zae', 'shadow-hand.zae', 'unimation-pumaarm.zae', 'universalrobots-ur6-85-5-a.zae', 'weldinggun.zae', 'willowgarage-pr2.zae', 'zange.zae']
                  li
                    a(href='javascript:void(0)', class="load-robot", data-robot=robot) !{robot.split('.')[0]}
    #canvas-anchor
