extends layout

block append body
  #login-anchor
  #wrapper
    #sidebar-wrapper
      #feed-anchor
    #page-content-wrapper
      #renderer-anchor

block append js

  //
    dependencies
  script(src='/socket.io/socket.io.js')
  script(src='/vendor/jquery/dist/jquery.min.js')
  script(src='/vendor/underscore/underscore.js')
  script(src='/vendor/backbone/backbone.js')
  script(src='/omni.js')
  script(src='/vendor/marionette/lib/backbone.marionette.min.js')
  script(src='/vendor/threejs/build/three.min.js')
  script(src='http://threejs.org/examples/js/controls/TransformControls.js')

  //
    the app
  script(src='/js/app.js')
  script(src='/js/models/Drawable.js')
  script(src='/js/models/Control.js')
  script(src='/js/views/BaseRealtimeView.js')
  script(src='/js/views/ThreeJSRenderer.js')
  script(src='/js/views/FeedView.js')
  script(src='/js/views/LoginView.js')
  script(src='/js/Router.js')
  script(src='/js/main.js')

  script(type='text/javascript')
    | document.write('<script src="http://'
    | + (location.host || 'localhost').split(':')[0]
    | + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')

block append body

  script#feed-template(type='text/html')
    form#feed-input(onsubmit='return false;')
      input.form-control.input-sm(type='text', placeholder='Type your message here...', autofocus='autofocus')
    pre.feed

  script#feed-item-template(type='text/html')
    | <strong style='color: <%= color %>; display: inline;'><%= name === undefined ? '>>' : name + ':' %> </strong><strong><%= message + '\n' %><strong>

  script#renderer-template(type='text/html')
    nav.navbar.navbar-default
      .container-fluid
        ul.nav.navbar-nav
          li
            a#feed-toggle(href='javascript:void(0)') Toggle Feed
          li
            a#translate-mode(href='javascript:void(0)')
              span.glyphicon.glyphicon-move
              |  Move
          li
            a#rotate-mode(href='javascript:void(0)')
              span.glyphicon.glyphicon-refresh
              |  Rotate
          li
            a#scale-mode(href='javascript:void(0)')
              span.glyphicon.glyphicon-resize-full
              |  Scale
          li
            a#add-box(href='javascript:void(0)')
              span.glyphicon.glyphicon-plus
              |  Add box
    #canvas-anchor

  script#login-template(type='text/html')
    .login-container.no-select.outer-shadow
      form#login(onsubmit='return false;')
        input.form-control(placeholder='Enter a username...', type='text', autofocus='autofocus')

